<nav id="yooshinanav" class="yooshina-nav">
    <ul class="yooshina-menu">
        <li class="ex-col-menu">
            <a id="yooshina-toogle-menu" class="isopen" href="#">
                <i class="fa fa-outdent fa-lg o"></i>
                <i class="fa fa-outdent fa-lg fa-flip-horizontal x"></i>
            </a>
        </li>
        <li>
            <a href="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Yooshina</span></a>
        </li>
        <li class="">
            <a class="parent" href="#"><i class="fa fa-cog fa-fw"></i><span> @Localizer["System"]</span></a>
            <ul class="">
                <li class="">
                    <a href="/dashboard/rd_usertype/view"><span>@Localizer["Portals"]</span></a>
                </li>
            </ul>
        </li>
        <li class="">
            <a class="parent" href="#"><i class="fa fa-cog fa-fw"></i><span> @Localizer["Content"]</span></a>
            <ul class="">
                <li class="">
                    <a href="/dashboard/rd_usertype/view"><span>@Localizer["Content Categories"]</span></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>